.container {
    margin-top: 50px;
}

.box {
    display: block;
    width: 200px;
    height: 100px;
    background-color: #DDD;
}

a.create,
a.edit {
    text-align: center !important;
    text-decoration: none;
}

a.create:hover,
a.edit:hover {
    text-decoration: none;
}

#pop {
    padding: 0px 0px;
}

#example {
    position: relative;
}

.collapsible {
    background-color: #f1f1f1;
    color: grey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #f8f8f8;
}

.collapsible:after {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: grey;
    font-weight: bold;
    float: left;
    margin-left: 5px;
}

.active:after {
    content: "\f107";
}

.content {
    padding: 0px 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.fa-trash-o {
    position: relative;
    width: 20px;
    right: 25px;
    top: 40px;
    float: right;
    font-size: 20px;
    text-align: center;
    cursor: default;
}

#new_chapter {
    position: relative;
    float: right;
    right: 3px;
    bottom: 25px;
}

.modal-body #chapters {
    width: 100%;
    overflow: auto;
    min-height: 400px !important;
    max-height: 400px !important;
}

.modal-body #chapters::-webkit-scrollbar {
    width: 6px;
    opacity: 0.6;
}

.modal-body #chapters::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px transparent;
    border-radius: 5px;
    margin: 20px 0px 0px 10px;
}

.modal-body #chapters::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px #ddd;
    border-radius: 5px;
    margin: 20px 0px 0px 10px;
}

.modal-body #chapters::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 5px;
}

.modal-body #chapters::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
}